.home {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('../images/wall.jpg') no-repeat center/cover;
}

.home-card {
  padding: 20px;
  background: #00688B;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  width: 50%;
  border-radius: 20px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 5px 5px 20px;
  hopacity: 0.7;
}

h1 {
  font-family: 'Calligraffitti',
  cursive;
  font-size: 65px;
  color: whitesmoke;
  line-height: 1.6;
  font-weight: 600;
  text-align: center; 
}


/* background effect #1 */
/* .module {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-attachment: fixed;
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 20px;

}

.module>header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}

.module>header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  transform: scale(2) translateY(20px);
}

.module>header>h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

h1 {
  padding-top: 20px;
  margin-top: 20px;
  font-size: 20px;
}
 */
