.home {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('../images/wall.jpg') no-repeat center/cover;
}

.home-card {
  padding: 20px;
  background: #00688B;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  width: 50%;
  border-radius: 20px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 5px 5px 20px;
  opacity: 0.7;
}

h1 {
  font-family: 'Calligraffitti',
  cursive;
  font-size: 65px;
  color: whitesmoke;
  line-height: 1.6;
  font-weight: 600;
  text-align: center; 
}
