.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../images/wall.jpg') no-repeat center/cover;
}

.home-card {
  padding: 20px;
  background: #00688B;
  background: whitesmoke;
  color: whitesmoke;
  width: 50%;
  margin-bottom: 300px;
  opacity: 0.7;
  border-radius: 20px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 5px 5px 20px;
  /* box shadow option 2: */
  -webkit-box-shadow: #FFF 0 -1px 4px,
  #ff0 0 -2px 10px,
  #ff8000 0 -10px 20px,
  red 0 -18px 40px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px,
  #ff0 0 -2px 10px,
  #ff8000 0 -10px 20px,
  red 0 -18px 40px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
  /* option 3 */
  /* -webkit-box-shadow: #FFF 0 -1px 4px,
  #ff0 0 -2px 10px,
  #ff8000 0 -10px 20px,
  red 0 -18px 40px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px,
  #ff0 0 -2px 10px,
  #ff8000 0 -10px 20px,
  red 0 -18px 40px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #ECEFCF; */
  /* Option 2 with altered colors - KEEP this one! */
  -webkit-box-shadow: #FFF 0 -1px 40px,
  #fff 0 -2px 60px,
  #fff 0 -10px 60px,
  #fff 0 -18px 60px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 40px,
  #fff 0 -2px 60px,
  #fff 0 -10px 60px,
  #fff 0 -18px 60px,
  5px 5px 15px 5px rgba(0, 0, 0, 0);
}


h1 {
  color: whitesmoke;
  color: #333;
  line-height: 1.6;
  text-align: center; 
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px whitesmoke;
}

.container {
  display: flex;
  height: 75vh;
  
}

.container h2 {
  margin-top: 40px;
  color: whitesmoke;
  text-align: center;
  font-weight: 900;
   -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter: drop-shadow(5px 5px 5px #222);
   font-size: 60px;
}

.shadowed {
   -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter: drop-shadow(5px 5px 5px #222);
}