#container {
  display: flex;
  height: 100vh;
}

#left-half {
  background-image: url('../images/twitter-bg.png');
  width: 50vw;
}

#right-half {
  background-color: black;
  width: 50vw;
}

#right-half h1 {
  color: whitesmoke;
  font-weight: 700;
  text-align: left;
}

#intro {
  display: flex;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.title {
  display: none;
}

h1 {
  padding: 20px;
}

.img-fluid {
  display: none;
}

@media screen and (max-width: 640px) {
  #container {
    flex-direction: column-reverse;
  }
  #right-half h1 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
  }
  #right-half {
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #left-half {
    height: 50vh;
    width: 100%;
  }
  #intro {
    flex-direction: column;
  }
  .title {
    display: block;
  }
  #intro .title {
     font-weight: 900;
     font-size: 2.5rem;
  }
  .img-fluid {
    display: block;
     -webkit-filter: drop-shadow(5px 5px 5px #222);
     filter: drop-shadow(5px 5px 5px #222);
  }
}
