#card-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.random-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  cursor: pointer;
   -webkit-filter: drop-shadow(5px 5px 5px #222);
   filter: drop-shadow(5px 5px 5px #222);
}

.avatar {
  margin-top: 20px;
}
