#tweet-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* original: */
  height: 30%;

  /* original: */
  width: 40%;
  width: 35rem;
}

p.card-text {
  text-align: center;
}

/* causes retweet icon to disappear: */
/* .fa-retweet {
  font-weight: normal;
} */