.container-fluid {
  display: flex;
  justify-content: center;
}
#tweet-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 30%;

  width: 40%;
  width: 35rem;
  width: 50%;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5px;
}

/* .image-container {
  justify-content: flex-start;
} */

.image-container img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  /* margin: 10px 5px 0 20px; */
  /* margin-left: 10px; */
}

/* .card-title {
  text-align: center;
} */

/* .card-body {
  display: flex;
  align-items: flex-start;
} */

p.card-text {
  text-align: center;
  overflow: hidden;
}

/* causes retweet icon to disappear: */
/* .fa-retweet {
  font-weight: normal;
} */


/* .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20rem;
} */

/* #row {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
} */

.name {
  /* font-weight: bold;
  margin-bottom: 2px; */
  /* padding-left: 5px; */
  /* justify-content: flex-start; */
}

.username {
  margin-left: 0.5rem;
}

.username, .created {
  font-weight: 300;
  font-size: small;
}


/* Media Queries */
/* @media(max-width: 667px) {
  .row {
    flex-direction: column;
  }
} */