#tweet-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* original: */
  height: 30%;

  /* original: */
  width: 40%;
  width: 35rem;
  /* align-items: center; */
}

.image-container {
  align-items: flex-start;
  margin: 1rem;
}

.image-container img {
  border-radius: 50%;
  /* margin-left: 2rem; */
}

.card-body {
  display: flex;
  /* orig: row */
  /* align-items: flex-start; */
  flex-direction: row;
}

p.card-text {
  text-align: center;
  /* overflow: hidden; */
}

/* causes retweet icon to disappear: */
/* .fa-retweet {
  font-weight: normal;
} */

/* svg {
  display: inline-flex;
  align-items: center;
} */

/* .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20rem;
} */

#row {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  align-items: flex-start;
  flex-wrap: wrap;
}

.name {
  font-weight: bold;
  /* margin-bottom: 2px; */
}

.username {
  font-weight: 300;
  font-size: small;
}