/* #home-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading {
  align-items: center;
  justify-content: center;
} */

/* #top-container {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 75vh; 
  margin-left: 150px;

} */

/* .hero-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 75vh;
  width: 500px;
} */