#home-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading {
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
}